<!DOCTYPE html>
<html>
<head>
	<title>WELCOME TO CHAT WITH DORAEBOT</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li class="active"><a href="#">HOME</a></li>
				<li><a href="registerlogin.html">LOGIN</a></li>
				<li><a href=" http://127.0.0.1:5000/">CHAT</a></li>
				<li><a href="AnalysisRepoPage.html">ANALYSIS REPORT</a></li>
				<li><a href="about1.html">ABOUT</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>WELCOME TO CHAT WITH DORAEBOT</h1>
		</div>
	</header>
</body>s
</html>