<!DOCTYPE html>
<html>
<head>
	<title>ABOUT</title>
	<link href="style2.css" rel="stylesheet">
</head>
<body>
<br>
<h1>SENTIMENTAL ANALYSIS USING A CHATBOT</h1>
<br>
<br>
    This website is created analyzing a person's sentiment and spend quality time talking with Doraebot ( Chatbot ).
    In our day to day life we don't even get the time to think about our mental health or about our mood .
    So here is  the solution , this website will provide you the best experience of interacting with our chatbot and get a psychological report about you sentiment .
 <br>
 <br>  
    <h1>Doraebot - A Chatbot</h1>
        Doraebot is one the interactive entertainer with whom you can chat about your problem or any conversation .You don't have to think 
        about what the others will feel as you are talking to a chatbot .
    <br>
    <br>
    <h1>Sentiment</h1>
	    Sentimentality are terms for sensitiveness to emotional feelings. Sentiment is a sincere and refined sensibility, a tendency to be 
	    influenced by emotion rather than reason or fact: to appeal to sentiment .
	<br>
	<br>
	<h1>Developer</h1>
	<h4>Priti Shaw </h4>
</body>
</html>
























